*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 80px;
}

.section-m1{
    margin: 40px 0;
}

body {
    width: 100%
}

/* Header Start */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: #088178;
}

#navbar li a.actie::after,
#navbar li a:hover::after{
    content: "";
    width: 35%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

/* Home Page */

.container {
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
}

.swiper {
    width: 100%;
    height: fit-content;
}

.swiper-slide img {
    width: 100%;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
    color: #bfbfbf;
}

.swiper .swiper-pagination-bullet-active {
    background: #bfbfbf;
}

#new-arrival {
    text-align: center;
}

#new-arrival .pro {
    width: 30%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid white;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#new-arrival .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#new-arrival .pro img{
    width: 100%;
    border-radius: 8px;
}

#new-arrival .design img {
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 20px;
    right: 40px;
}

#new-arrival .pro .design {
    text-align: start;
    padding: 10px 0;
}

#new-arrival .pro .design h5 {
    padding-top: 7px;
    font-size: 18px;
}

#new-arrival .pro .design h4 {
    padding-top: 7px;
    font-size: 20px;
    font-weight: 700;
}

#new-arrival .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;

}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("img/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #E3E6F3;
}

#newsletter h4{
    font-size: 22px;
    font-weight: 700;
}

#newsletter p{
    font-size: 14px;
    font-weight: 500;
    color: black;
}

#newsletter p span{
    color: #ffbd27;
}

#newsletter .form{
    display: flex;
    width: 40%;
}

#newsletter input{
    height: 3.125rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 70%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button{
    width: 100px;
    height: 50px;
    background-color: #088178;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/* Footer */

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer h4{
    font-size: 16px;
    padding-bottom: 20px;
}

footer p{
    font-size: 14px;
    margin: 0 0 8px 0;
    color: black;
}

footer a{
    font-size: 14px;
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
}

footer a:hover{
    color: #088178;
}

footer .follow {
    margin-top: 20px;
}

footer .follow .icon a{
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
}


/* Shop Page 
.wrapper {
    width: 95%;
    margin: 0 auto;
}

.wrapper form #search-container {
    margin: 1em 0;
}

.wrapper form #search-container input {
    background-color: transparent;
    width: 40%;
    border-bottom: 2px solid white;
}

.wrapper form #search-container input:focus {
    border-bottom-color: black;
}
*/