{% extends 'base.html.twig' %}


{% block body %}
<body class="d-flex h-100 text-center text-bg-light" data-new-gr-c-s-check-loaded="14.1085.0" data-gr-ext-installed="">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="mb-auto">
    <div>
      <h3 class="float-md-start"><img src="{{ asset('images/product/aurora.png') }}"</h3>
      
    </div>
  </header>

  <main >
    <h2>About us</h2>
    <p class="lead">
    Aurora was born from a passion for business and fashion. Overcoming many challenges, Aurora has become the most capable company of Vietnamese fashion. The company is highly appreciated by many major international fashion groups and selected authors for long-term cooperation. Aurora is known as surrender brand page. Customers are particularly captivated by Aurora's chic, modern style on par with the brand's well-known limits.Overcoming many challenges, Aurora has become the most capable company of Vietnamese fashion
    </p>
    <img src="{{ asset('images/product/firstimg.jpg') }}" alt="" width=90% height=100%/> 
    <p class=lead>
    <br><br>
    Nurturing close relationships with their clients, Aurora designers instinctively respond to their changing needs, reacting to the latest trends, and constantly responding to deliver new ideas. for everyone in the right place and at the right time. Proud to be a Vietnamese fashion brand, Elise is constantly creative in finding and working with major fashion partners in the world along with promoting the power of content to help Elise have a lot of experience in the industry. meeting international standard (Hi-End) product lines in Vietnam, of Vietnamese people.
    Proud to be a Vietnamese fashion brand, Elise is constantly creative in finding and working with major fashion partners in the world along with promoting her inner strength to help Elise gain seasoned experience in fashion. meet the high-end product line (Hi-End) of international standards in Vietnam, of the Vietnamese people.
    </p>
    <img src="{{ asset('images/product/fourimg.jpg') }}" alt="" width=90% height=100%/> 
    <p class="lead">
      <a href="{{path('app_product_index')}}" class="btn btn-lg btn-secondary border-white bg-secondary">Shop now</a>
    </p>
  </main>

 
</div>


    
  

<div id="eJOY__extension_root" class="eJOY__extension_root_class" style="all: unset;"></div><iframe id="nr-ext-rsicon" style="position: absolute; display: none; width: 50px; height: 50px; z-index: 2147483647; border-style: none; background: transparent;"></iframe></body>

{% endblock %}