{% extends 'base.html.twig' %}

{% block title %}OrderDetail index{% endblock %}

{% block body %}
    <h1>OrderDetail index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>SubTotal</th>
            </tr>
        </thead>
        <tbody>
        {% for order_detail in order_details %}
            <tr>
                <td>{{ order_detail.id }}</td>
                <td>{{ order_detail.Quantity }}</td>
                <td>{{ order_detail.SubTotal }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
